<div class="center hero-unit">
<h1>Me-Now Public Space</h1>

<h2>Welcome to Me-Now online community</h2>

<%= link_to "Sign up", 'signup', class: "btn btn-primary btn-lg" %>
</div>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
